<div class="card shadow">
  <div class="card-item card-name"><h2 class="card-title">Housing Works & Something Else</h2></div>
  <div class="card-item card-logo"><img src="images/logo.png"></div>
  <div class="card-item card-cats">Shelter</div>
  <div class="card-item card-cities">Bend, Redmond</div>
  <div class="card-item card-desc">LOREM IPSUM DOLOR SIT AMET</div>
  <div class="card-item card-buttons">DONATE CONTACT ABOUT</div>
</div>